
<div class="container">
  <h1>Post Titles</h1>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <p>
          <%=link_to post.title, post_path(post)%> | 
          <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure you want to delete the Post"}%>
        </p>
      </li>
    <%end%>
  </ul><br><br>
  <p class="link_to_new">
    <%= button_to "Create a new Post", new_post_path, method: :get%>
  </p>
</div>


